.navigation {
    background-color: blueviolet;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation ul li {
    text-decoration: none;
}

.About {
    border: 2px solid blue;
    justify-items: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
}